// registry=http://localhost:4873/
@accelerator:registry=https://npm.fs-acc.pwc.delivery/
@appkit-web-components:registry=https://npm.fs-acc.pwc.delivery/
@pwc:registry=https://npm.fs-acc.pwc.delivery/